.modal-overlay {
    align-items: center;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    inset: 0;
    position: fixed;

    .modal-content {
        background-color: #3B5A8A;
        border: 1px solid #E2E8F0;
        border-radius: 8px;
        min-width: 500px;
        position: relative;

        .modal-header {
            align-items: center;
            border-bottom: 1px solid #E2E8F0;
            display: flex;
            justify-content: space-between;
            margin: 0 0 1rem;
            padding: 1rem;

            h1 {
                color: #E2E8F0;
                font-size: 24px;
                margin: 0;
            }

            .modal-close {
                background-color: #FF7A00;
                border: 1px solid #E2E8F0;
                border-radius: 5px;
                color: #E2E8F0;
                font-weight: bold;
                padding: 8px;
                width: 10%;
                &:hover {
                    background-color: #F26422;
                    cursor: pointer;
                }
            }
        }
        
    }
}