.navbar {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;

    .navbar_logo {
        background-color: #FF7A00;
        border: 1px solid #E2E8F0;
        border-radius: 5px;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 8px;

        .navbar_logo_link {
            color: #E2E8F0;
            text-decoration: none;
        }
    }

    .navbar_links {
        display: flex;
        gap: 1rem;

        .navbar_link {
            background-color: #FF7A00;
            border: 1px solid #E2E8F0;
            border-radius: 5px;
            color: #E2E8F0;
            font-weight: bold;
            padding: 8px;
            text-decoration: none;
            &:hover {
               background-color: #F26422;
            }
        }

        .navbar-button {
            border: 1px solid #E2E8F0;
            border-radius: 5px;
            color: #304972;
            font-weight: bold;
            margin: 0 10px 0 0;
            padding: 8px;
            &:hover {
                background-color: #304972;
                color:  #E2E8F0;
                cursor: pointer;
            }
        }
    }


}